.card-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.image {
  text-align: center;
  width: 250px;
  height: 100px;
}

.thumb {
  width: auto;
  max-height: 100px;
}

.action {
  align-content: flex-end;
}