<router-outlet></router-outlet>
<div class="container">
  <h1 class="title">[NPC] Beginner Merchant</h1>
  <br />
  <p>Hello Adventurer, welcome to the town of Angular!</p>
  <p>
    Here you can explore all the exciting stuff like meeting weird monster,
    learning new spell, and discovering rare item.
  </p>
  <p>But first, you need some weapon/spell to accompany you along the way!</p>
  <p>I will give you 1000 gold, so choose your weapon/spell wisely~</p>
  <br />

  <mat-grid-list cols="3" rowHeight="1:1.3">
    <mat-grid-tile *ngFor="let item of items">
      <app-card [item]="item" (addCart)="onAdd(item)"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <h2>Added to cart</h2>
  <div *ngFor="let item of items">
    <table style="width: 75%">
      <tr *ngIf="item.addedToCart">
        <td>{{ item.name }}</td>
        <td style="text-align: right">{{ item.price }}</td>
      </tr>
    </table>
  </div>
  <hr />
  <table style="width: 75%">
    <tr>
      <td>
        <h2>Total:</h2>
      </td>
      <td style="text-align: right">{{ total }}</td>
    </tr>
  </table>
  <button mat-raised-button color="primary" (click)="onBuy()" style="width: 100%">Buy</button>
</div>
